.products {
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.products li {
    margin: 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: box-shadow 0.3s, opacity 1.5s 0s;
    border-radius: 7px;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.products a {
    width: 270px;
    flex-grow: 2;
}

.products a img {
    width: 100%;
    filter: saturate(200%);
    -webkit-filter: saturate(200%);
}

.products li:hover {
    color: #0077ff;
    box-shadow: rgb(38, 57, 77) 0px 22px 22px 0px;
}

@media only screen and (max-width: 500px) {
    .products li {
        width: 70%;
    }
    .products a {
        width: 100%;
    }
    .products a img {
        width: 100%;
        filter: saturate(200%);
        -webkit-filter: saturate(200%);
    }
}

.placeholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 450px) {
    .placeholder {
        display: none;
    }
}